<?xml version="1.0"?>
<config>
    <modules>
        <Ainstainer_Homepage>
            <version>1.0</version>
        </Ainstainer_Homepage>
    </modules>
    <global>
        <blocks>
            <homepage>
                <class>Ainstainer_Homepage_Block</class>
            </homepage>
        </blocks>
        <models>
            <ainstainer_homepage>
                <class>Ainstainer_Homepage_Model</class>
                <resourceModel>ainstainer_homepage_resource</resourceModel>
            </ainstainer_homepage>
            <ainstainer_homepage_resource>
                <class>Ainstainer_Homepage_Model_Resource</class>
                <entities>
                    <banner>
                        <table>ainstainer_banner</table>
                    </banner>
                </entities>
            </ainstainer_homepage_resource>
        </models>
        <resources>
            <ainstainer_homepage_setup>
                <setup>
                    <module>Ainstainer_Homepage</module>
                </setup>
            </ainstainer_homepage_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <homepage>
                    <file>ainstainer/homepage.xml</file>
                </homepage>
            </updates>
        </layout>
    </frontend>
</config>

