<?xml version="1.0"?>
<config>
    <modules>
        <Ainstainer_Contacts>
            <version>1.0</version>
        </Ainstainer_Contacts>
    </modules>
    <global>
        <helpers>
            <contacts>
                <class>Ainstainer_Contacts_Helper</class>
            </contacts>
            <ainstainer_contacts>
                <class>Ainstainer_Contacts_Helper</class>
            </ainstainer_contacts>
        </helpers>
        <blocks>
            <ainstainer_contacts>
                <class>Ainstainer_Contacts_Block</class>
            </ainstainer_contacts>
        </blocks>
        <models>
            <ainstainer_contacts>
                <class>Ainstainer_Contacts_Model</class>
                <resourceModel>ainstainer_contacts_resource</resourceModel>
            </ainstainer_contacts>
            <ainstainer_contacts_resource>
                <class>Ainstainer_Contacts_Model_Resource</class>
                <entities>
                    <contactusmessages>
                        <table>ainstainer_contactus</table>
                    </contactusmessages>
                </entities>
            </ainstainer_contacts_resource>
        </models>
        <resources>
            <ainstainer_contacts_setup>
                <setup>
                    <module>Ainstainer_Contacts</module>
                </setup>
            </ainstainer_contacts_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <contactus>
                <use>standard</use>
                <args>
                    <module>Ainstainer_Contacts</module>
                    <frontName>contactus</frontName>
                </args>
            </contactus>
        </routers>
        <layout>
            <updates>
                <contactus>
                    <file>ainstainer/contactus.xml</file>
                </contactus>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ainstainer_contacts before="Mage_Adminhtml">Ainstainer_Contacts_Adminhtml</ainstainer_contacts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>

